<ul class="sg-colors">
      <li>
      <div class="sg-colors__sample" style="background: white;"></div>
      <div class="sg-info">
        <span>white</span> <br/>
        <code>$white</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #f2f2f2;"></div>
      <div class="sg-info">
        <span>#f2f2f2</span> <br/>
        <code>$near-white</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #e5e5e5;"></div>
      <div class="sg-info">
        <span>#e5e5e5</span> <br/>
        <code>$gray-lightest</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #ccc;"></div>
      <div class="sg-info">
        <span>#ccc</span> <br/>
        <code>$gray-lighter</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #999;"></div>
      <div class="sg-info">
        <span>#999</span> <br/>
        <code>$gray-light</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #666;"></div>
      <div class="sg-info">
        <span>#666</span> <br/>
        <code>$gray</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #4c4c4c;"></div>
      <div class="sg-info">
        <span>#4c4c4c</span> <br/>
        <code>$gray-dark</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: #333;"></div>
      <div class="sg-info">
        <span>#333</span> <br/>
        <code>$gray-darker</code>
      </div>
    </li>
      <li>
      <div class="sg-colors__sample" style="background: black;"></div>
      <div class="sg-info">
        <span>black</span> <br/>
        <code>$black</code>
      </div>
    </li>
  </ul>
  <p> <small>To add to these items, use Sass variables that start with &lt;code&gt;$&lt;/code&gt; in &lt;code&gt;.//components/_patterns/00-base/global/01-colors/_color-vars.scss&lt;/code&gt;</small> </p>
