<nav role="navigation">
  <ul class="menu nav navbar-nav">
    <li class="first leaf"><a href="/item-1" title="Item 1">Item 1</a></li>
    <li class="leaf"><a href="/item-2" title="Item 2">Item 2</a></li>
    <li class="leaf"><a href="/item-3" title="Item 3">Item 3</a></li>
    <li class="leaf"><a href="/item-4" title="Item 4">Item 4</a></li>
    <li class="leaf"><a href="/item-5" title="Item 5">Item 5</a></li>
    <li class="last leaf"><a href="item-6" title="Item 6">Item 6</a></li>
  </ul>
</nav>
