<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #004F71;"></span>
		<span class="sg-label-variable">$color-secondary-blue</span><br>
		<span class="sg-label-value">#004F71</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ABAD00;"></span>
		<span class="sg-label-variable">$color-secondary-green</span><br>
		<span class="sg-label-value">#ABAD00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #9A3324;"></span>
		<span class="sg-label-variable">$color-secondary-red</span><br>
		<span class="sg-label-value">#9A3324</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #53565A;"></span>
		<span class="sg-label-variable">$color-secondary-dark-grey</span><br>
		<span class="sg-label-value">#53565A</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label-variable">$color-secondary-white</span><br>
		<span class="sg-label-value">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label-variable">$color-secondary-black</span><br>
		<span class="sg-label-value">#000000</span>
	</li>
</ul>
