<div class="icons-demo" id="icons">
      <div>
      billpatternlab/accordion

<svg class="icon">
  <use xlink:href="/dist/img/sprite/sprite.svg#bars"></use>
</svg>
      <p>bars</p>
    </div>
  </div>
<br>
