

<script async src="/dist/02-molecules/menus/tabs/tabs.js"></script>
  <div id="tabs" class="tabs no-js">
    <ul class="tabs__nav">
            
<li>
        <a href="#tab-0" class="tabs__link tabs__link--local-tasks is-active">November</a>
  </li>
            
<li>
        <a href="#tab-1" class="tabs__link tabs__link--local-tasks">August</a>
  </li>
            
<li>
        <a href="#tab-2" class="tabs__link tabs__link--local-tasks">April</a>
  </li>
          </ul>
        <div class="tabs__tab is-active">
      <div id="tab-0" class="tabs__content">
        <p>Cupcake chupa chups pudding gummies. Unerdwear.com cupcake candy soufflé sesame snaps macaroon sesame snaps. Tart dragée muffin. Sweet roll gummi bears caramels fruitcake candy cake. Cotton candy carrot cake tart cotton candy. Jelly.</p>
      </div>
    </div>
        <div class="tabs__tab">
      <div id="tab-1" class="tabs__content">
        <p>Zooomr kippt voxy zinch appjet napster trulia, zappos wufoo zapier spotify mzinga jaiku fleck, disqus lijit voxy voki yoono. Dogster elgg jibjab xobni kazaa bebo udemy sifteo kiko, elgg knewton skype mog octopart zoodles kazaa udem.</p>
      </div>
    </div>
        <div class="tabs__tab">
      <div id="tab-2" class="tabs__content">
        <p>Sed single-origin coffee anim eu. Bicycle rights Neutra Truffaut pop-up. Paleo hella irure meh Banksy, Wes Anderson typewriter VHS jean shorts yr. Eiusmod officia banjo Thundercats, odio laborum magna deep v cornhole nostrud kitsch.</p>
      </div>
    </div>
      </div>
