.btn-primary {
color: #ffffff;
background-color: #303;
border-color: #1a0019;
}
.btn-secondary {
padding: .5em 1.5em;
margin-right: 1em;
font-size: 1.2em;
color: #330033;
border-color: #330033;
background-color: #fff;
}
.btn-call-to-action {
background-color: #ffcc33;
color: #330033;
padding-left: 2em;
padding-right: 2em;
font-size: 1.2em;
}
