<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #330033;"></span>
		<span class="sg-label-variable">$color-brand-purple</span><br>
		<span class="sg-label-value">#330033</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffcc33;"></span>
		<span class="sg-label-variable">$color-brand-gold</span><br>
		<span class="sg-label-value">#ffcc33</span>
	</li>
</ul>