<header class="header">
      
<figure
  class="logo"
>
      <a class="logo__link" href="#">
                
  
<picture
  class="logo__image"
>
      
<img
  class="logo__img"
      src="../../images/logo.png"
      alt="Logo"
    />
</picture>
            </a>
  
  </figure>
    <a href="#" id="toggle-expand" class="toggle-expand">
  <span class="toggle-expand__open">
    billpatternlab/accordion

<svg class="toggle-expand__icon">
  <use xlink:href="/dist/img/sprite/sprite.svg#bars"></use>
</svg>
    <span class="toggle-expand__text">Main Menu</span>
  </span>
  <span class="toggle-expand__close">
    <span class="toggle-expand__text">Close</span>
  </span>
</a>
<nav id="main-nav" class="main-nav">
  
    
                          
        
<ul class="main-menu">
                        

<li class="main-menu__item main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub"
    href="#"
>
      Menu Item 1
  </a>
          <span class="expand-sub"></span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Menu Item 1 Sub 1
  </a>
      </li>
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub"
    href="#"
>
      Menu Item 1 Sub 2
  </a>
          <span class="expand-sub"></span>
          
                          
        
<ul class="main-menu main-menu--sub main-menu--sub-1 main-menu--sub main-menu--sub-2">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-2">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-2"
    href="#"
>
      Menu Item 1 Sub Sub 1
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-2">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-2"
    href="#"
>
      Menu Item 1 Sub Sub 2
  </a>
      </li>
              </ul>
  
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Menu Item 1 Sub 3
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Menu Item 1 Sub 4
  </a>
      </li>
              </ul>
  
      </li>
                      

<li class="main-menu__item main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub"
    href="#"
>
      Menu Item 2
  </a>
          <span class="expand-sub"></span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Menu Item 2 Sub 1
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Menu Item 2 Sub 2
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Menu Item 2 Sub 3
  </a>
      </li>
              </ul>
  
      </li>
                      

<li class="main-menu__item main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub"
    href="#"
>
      Menu Item 3
  </a>
          <span class="expand-sub"></span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Menu Item 3 Sub 1
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Menu Item 3 Sub 2
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Menu Item 3 Sub 3
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Menu Item 3 Sub 4
  </a>
      </li>
              </ul>
  
      </li>
              </ul>
  

</nav>
  </header>
