

  <div id="tabs" class="tabs no-js">
    <ul class="tabs__nav">
            
<li>
        <a href="#tab-0" class="tabs__link tabs__link--local-tasks is-active">May</a>
  </li>
            
<li>
        <a href="#tab-1" class="tabs__link tabs__link--local-tasks">July</a>
  </li>
            
<li>
        <a href="#tab-2" class="tabs__link tabs__link--local-tasks">September</a>
  </li>
          </ul>
        <div class="tabs__tab is-active">
      <div id="tab-0" class="tabs__content">
        <p>CTR mthomps Flipboard do what you do best and link to the rest Buttry media bias Journal Register RT, newspaper strike do what you do best and link to the rest semipermeable learnings cognitive surplus mathewi, Encyclo Google News.</p>
      </div>
    </div>
        <div class="tabs__tab">
      <div id="tab-1" class="tabs__content">
        <p>The lysine contingency - it&#039;s intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes a single faulty enzyme in protein metabolism. The animals can&#039;t manufacture the amin.</p>
      </div>
    </div>
        <div class="tabs__tab">
      <div id="tab-2" class="tabs__content">
        <p>I&#039;m surprised you had the courage to take the responsibility yourself. Don&#039;t be too proud of this technological terror you&#039;ve constructed. The ability to destroy a planet is insignificant next to the power of the Force. You don&#039;t be.</p>
      </div>
    </div>
      </div>
