/*
Override Pattern Lab Styles locally for SF State implementation
 */
.sg-main,
.sg-subtype > h2 > a {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}
.sg-subtype > h2 > a {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    padding: .5rem;
}
.sg-subtype > h2 {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    background-color: #330033;
}

#sg-patterns .sg-pattern-title a.patternLink {
    font-size: 2em;
    color: #330033 !important;
}

.sg-subtype {
    background-color: #330033;
    margin: -.7rem;

}
@media (max-width:1170px) {
    .sg-subtype > h2 > a {
        padding-left: calc(.5rem + 6px);
        padding-right: calc(.5rem + 6px);
    }
}