<video autoplay muted loop id="siteVideo">
  <source src="sfstatevideo.mp4" type="video/mp4">
</video>
<div class="content">
  <h1>Heading</h1>
  <p>Lorem ipsum...</p>
  <!-- Use a button to pause/play the video with JavaScript -->
  <button id="actionBtn" onclick="myFunction()">Pause</button>
</div>
