


    
<div class="layout-container">
      <header class="header">
      
<figure
  class="logo"
>
      <a class="logo__link" href="/">
                
  
<picture
  class="logo__image"
>
      
<img
  class="logo__img"
      src="../../images/logo.png"
      alt="Logo"
    />
</picture>
            </a>
  
  </figure>
    <a href="#" id="toggle-expand" class="toggle-expand">
  <span class="toggle-expand__open">
    billpatternlab/accordion

<svg class="toggle-expand__icon">
  <use xlink:href="/dist/img/sprite/sprite.svg#bars"></use>
</svg>
    <span class="toggle-expand__text">Main Menu</span>
  </span>
  <span class="toggle-expand__close">
    <span class="toggle-expand__text">Close</span>
  </span>
</a>
<nav id="main-nav" class="main-nav">
  
    
                          
        
<ul class="main-menu">
                        

<li class="main-menu__item main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub"
    href="../../patterns/04-templates-full-width/04-templates-full-width.html"
>
      Full Width
  </a>
          <span class="expand-sub"></span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Full Width Sub-Page
  </a>
      </li>
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub"
    href="#"
>
      Full Width Sub-Page 2
  </a>
          <span class="expand-sub"></span>
          
                          
        
<ul class="main-menu main-menu--sub main-menu--sub-1 main-menu--sub main-menu--sub-2">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-2">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-2"
    href="#"
>
      Full Width Sub-Sub-Page
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-2">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-2"
    href="#"
>
      Full Width Sub-Sub-Page 2
  </a>
      </li>
              </ul>
  
      </li>
              </ul>
  
      </li>
                      

<li class="main-menu__item main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub"
    href="../../patterns/04-templates-with-sidebar/04-templates-with-sidebar.html"
>
      With Sidebar
  </a>
          <span class="expand-sub"></span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      With Sidebar Sub 1
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      With Sidebar Sub 2
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      With Sidebar Sub 3
  </a>
      </li>
              </ul>
  
      </li>
              </ul>
  

</nav>
  </header>
  
    
  <main role="main" class="main main--with-sidebar">
    <a id="main-content" tabindex="-1"></a>
          <aside class="main-sidebar" role="complementary">
            <section class="pl-place-holder__content pl-place-holder ">
  Secondary Content
</section>
        </aside>
    
    <div class="main-content main-content--with-sidebar">
          <section class="pl-place-holder__content pl-place-holder ">
  Primary Content
</section>
      </div>

  </main>

      <footer class="footer">
      
    
                          
        
<ul class="inline-menu">
                      

<li class="inline-menu__item">
      
<a
  class="inline-menu__link"
    href="../../patterns/04-templates-full-width/04-templates-full-width.html"
>
      Full Width
  </a>
      </li>
                    

<li class="inline-menu__item">
      
<a
  class="inline-menu__link"
    href="../../patterns/04-templates-with-sidebar/04-templates-with-sidebar.html"
>
      Sidebar
  </a>
      </li>
              </ul>
  

  </footer>
  </div>
