{% include "@organisms/01-cards/_card.twig" with {
    card_class: "",
    crd_content: "<img class='card-img-top' src='/images/fpo_avatar.png' alt='Card image cap'>
    <div class='card-body'>
      <h5 class='card-title'>Card title</h5>
      <p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card\'s content.</p>
      <a href='#' class='btn btn-primary'>Go somewhere</a>
    </div>
    <div class='card-action'>
      <a href='#'>This is a link</a>
      <a href='#'>This is a link</a>
    </div>"
}
%}
