<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #808080;"></span>
        <span class="sg-label-variable">$color-grey-karl</span><br>
        <span class="sg-label-value">#808080</span>
    </li>

    <li>
        <span class="sg-swatch" style="background: #f5f5f5;"></span>
        <span class="sg-label-variable">$color-gray-05</span><br>
        <span class="sg-label-value">#f5f5f5</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #f3f3f3;"></span>
        <span class="sg-label-variable">$color-gray-10</span><br>
        <span class="sg-label-value">#f3f3f3</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #eeeeee;"></span>
        <span class="sg-label-variable">$color-gray-20</span><br>
        <span class="sg-label-value">#eeeeee</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #dddddd;"></span>
        <span class="sg-label-variable">$color-gray-30</span><br>
        <span class="sg-label-value">#dddddd</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #666666;"></span>
        <span class="sg-label-variable">$color-gray-70</span><br>
        <span class="sg-label-value">#666666</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #555555;"></span>
        <span class="sg-label-variable">$color-gray-80</span><br>
        <span class="sg-label-value">#555555</span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #444444;"></span>
        <span class="sg-label-variable">$color-gray-90</span><br>
        <span class="sg-label-value">#444444</span>
    </li>

</ul>