<div class="form-item form-item--radio">
  <legend class="heading-3">Options as Radio Buttons</legend>
  <ul class="form-item--radios">
          <li class="form-item--radio__item">
  <label for="radio0">
    <input id="radio0" name="radio" type="radio" class="radio" checked="checked"> Nullizzle shizznit velizzle, hizzle, suscipit own yo&#039;, gravida vizzle, arcu.
  </label>
</li>
          <li class="form-item--radio__item">
  <label for="radio1">
    <input id="radio1" name="radio" type="radio" class="radio" checked="checked"> Webtwo ipsum dolor sit amet, eskobo chumby doostang bebo
  </label>
</li>
          <li class="form-item--radio__item">
  <label for="radio2">
    <input id="radio2" name="radio" type="radio" class="radio" checked="checked"> Veggies sunt bona vobis, proinde vos postulo
  </label>
</li>
          <li class="form-item--radio__item">
  <label for="radio3">
    <input id="radio3" name="radio" type="radio" class="radio" checked="checked"> Yeah, I like animals better than people sometimes
  </label>
</li>
      </ul>
</div>
