
<dl>
      <dt>Definition List</dt>
<dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
      <dt>This is a term.</dt>
<dd>This is the definition of that term, which both live in a &lt;code&gt;dl&lt;/code&gt;.</dd>
      <dt>Here is another term.</dt>
<dd>And it gets a definition too, which is this line.</dd>
      <dt>Here is term that shares a definition with the term below.</dt>
<dd>And it gets a definition too, which is this line.</dd>
  </dl>
