<ul>
    {% block list_content %}
        {% for ul_item in ul_items %}
            {% include "@atoms/03-lists/_unordered-list-item.twig" with {
                "unordered_list_item_content": ul_item.content,
            } %}
        {% endfor %}
    {% endblock %}
</ul>