



<div class="layout-container">
      <header class="header">
      
<figure
  class="logo"
>
      <a class="logo__link" href="/">
                
  
<picture
  class="logo__image"
>
      
<img
  class="logo__img"
      src="../../images/logo.png"
      alt="Logo"
    />
</picture>
            </a>
  
  </figure>
    <a href="#" id="toggle-expand" class="toggle-expand">
  <span class="toggle-expand__open">
    billpatternlab/accordion

<svg class="toggle-expand__icon">
  <use xlink:href="/dist/img/sprite/sprite.svg#bars"></use>
</svg>
    <span class="toggle-expand__text">Main Menu</span>
  </span>
  <span class="toggle-expand__close">
    <span class="toggle-expand__text">Close</span>
  </span>
</a>
<nav id="main-nav" class="main-nav">
  
    
                          
        
<ul class="main-menu">
                        

<li class="main-menu__item main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub"
    href="../../patterns/05-pages-home-home/05-pages-home-home.html"
>
      Home
  </a>
          <span class="expand-sub"></span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Home Sub-Page
  </a>
      </li>
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub"
    href="#"
>
      Home Sub-Page 2
  </a>
          <span class="expand-sub"></span>
          
                          
        
<ul class="main-menu main-menu--sub main-menu--sub-1 main-menu--sub main-menu--sub-2">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-2">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-2"
    href="#"
>
      Home Sub-Sub-Page
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-2">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-2"
    href="#"
>
      Home Sub-Sub-Page 2
  </a>
      </li>
              </ul>
  
      </li>
              </ul>
  
      </li>
                      

<li class="main-menu__item main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub"
    href="../../patterns/05-pages-article-article/05-pages-article-article.html"
>
      Article
  </a>
          <span class="expand-sub"></span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Article Sub 1
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Article Sub 2
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Article Sub 3
  </a>
      </li>
              </ul>
  
      </li>
              </ul>
  

</nav>
  </header>
  
    
  <main role="main" class="main">
    <a id="main-content" tabindex="-1"></a>
    
    <div class="main-content">
      
    
    
<div class="info-box__grid">
                      
<div class="info-box info-box--grid-item">
  
<h3 class="info-box__title">
      
<a
  class="info-box__link"
    href="#"
>
      This is why this thing matters
  </a>
  </h3>
  
<p class="info-box__body">
      Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
  </p>
</div>
                
<div class="info-box info-box--grid-item">
  
<h3 class="info-box__title">
      
<a
  class="info-box__link"
    href="#"
>
      Make sure you read it well
  </a>
  </h3>
  
<p class="info-box__body">
      Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
  </p>
</div>
      </div>

    
<div class="card__grid card__grid--divider card__grid--columns-3">
        
<div class="card card--grid-item card--divider-3">
            
  
<img
  class="image"
      src="https://placeimg.com/480/480/people"
    />
        <div class="card__copy">
          
      
<h2 class="card__title">
      
<a
  class="card__title-link"
    href="#"
>
      This is the first featured item
  </a>
  </h2>
      
    
        
          
<h3 class="card__subtitle">
      About this thing
  </h3>
              
<p class="card__body">
      Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.
  </p>
              
<a
  class="card__link"
    href="#"
>
      
  </a>
          </div><!-- copy -->
</div>
      
<div class="card card--grid-item card--divider-3">
            
  
<img
  class="image"
      src="https://placeimg.com/480/480/people"
    />
        <div class="card__copy">
          
      
<h2 class="card__title">
      
<a
  class="card__title-link"
    href="#"
>
      This is the second
  </a>
  </h2>
      
    
        
          
<h3 class="card__subtitle">
      About this other thing
  </h3>
              
<p class="card__body">
      Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.
  </p>
              
<a
  class="card__link"
    href="#"
>
      
  </a>
          </div><!-- copy -->
</div>
      
<div class="card card--grid-item card--divider-3">
            
  
<img
  class="image"
      src="https://placeimg.com/480/480/people"
    />
        <div class="card__copy">
          
      
<h2 class="card__title">
      
<a
  class="card__title-link"
    href="#"
>
      The Final
  </a>
  </h2>
      
    
        
          
<h3 class="card__subtitle">
      Is the most interesting
  </h3>
              
<p class="card__body">
      Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat. Nulla quis lorem ut libero malesuada feugiat.
  </p>
              
<a
  class="card__link"
    href="#"
>
      
  </a>
          </div><!-- copy -->
</div>
  </div>

      </div>

  </main>

      <footer class="footer">
      
    
                          
        
<ul class="inline-menu">
                      

<li class="inline-menu__item">
      
<a
  class="inline-menu__link"
    href="../../patterns/05-pages-home-home/05-pages-home-home.html"
>
      Home
  </a>
      </li>
                    

<li class="inline-menu__item">
      
<a
  class="inline-menu__link"
    href="../../patterns/05-pages-article-article/05-pages-article-article.html"
>
      Article
  </a>
      </li>
              </ul>
  

  </footer>
  </div>
