<ol class="steps can-skip">
  <li class="step previous">
    <a href="">Step 1</a>
  </li>
  <li class="step active">
    <a href="">Step 2</a>
  </li>
  <li class="step">
    <a href="">Step 3</a>
  </li>
</ol>
