<blockquote>
  {% block blockquote_content %}
      {{ blockquote_content }}
      {% if attribution is not empty %}
      <footer>{{ attribution }} (overridden in theme)</footer>
      {% endif %}
  {% endblock %}
</blockquote>
