<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #b12a0b;"></span>
		<span class="sg-label-variable">$negative</span><br>
		<span class="sg-label-value">#b12a0b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff0000;"></span>
		<span class="sg-label-variable">$error</span><br>
		<span class="sg-label-value">#ff0000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #089e00;"></span>
		<span class="sg-label-variable">$valid</span><br>
		<span class="sg-label-value">#089e00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff664;"></span>
		<span class="sg-label-variable">$warning</span><br>
		<span class="sg-label-value">#fff664</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000db5;"></span>
		<span class="sg-label-variable">$information</span><br>
		<span class="sg-label-value">#000db5</span>
	</li>
</ul>