
<div class="card card--bg
# Title">
            
  
<img
  class="image"
      src="https://placeimg.com/1280/720/nature"
      alt="This is the card image&#039;s alt text"
    />
        <div class="card__copy">
          
      
<h2 class="card__title card__title--no-space">
      This is a card-bg title
  </h2>
      
    
        
              
<p class="card__body">
      Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
  </p>
                  
<button
  class="card__button"
        href="#"
  >
      Read more
  </button>
      </div><!-- copy -->
</div>
