<ol>
    {% block list_content %}
        {% for ol_item in ol_items %}
            {% include "@atoms/03-lists/_ordered-list-item.twig" with {
                "ordered_list_item_content": ol_item.content,
            } %}
        {% endfor %}
    {% endblock %}
</ol>