<ol>
                        <li>
            This is the first item in the ordered list.
    </li>                    <li>
            And here is the second item.
    </li>                    <li>
            Here&#039;s the third item.
    </li>                    <li>
            And here&#039;s the last item.
    </li>            </ol>