


    
<div class="layout-container">
      <header class="header">
      
<figure
  class="logo"
>
      <a class="logo__link" href="/">
                
  
<picture
  class="logo__image"
>
      
<img
  class="logo__img"
      src="../../images/logo.png"
      alt="Logo"
    />
</picture>
            </a>
  
  </figure>
    <a href="#" id="toggle-expand" class="toggle-expand">
  <span class="toggle-expand__open">
    billpatternlab/accordion

<svg class="toggle-expand__icon">
  <use xlink:href="/dist/img/sprite/sprite.svg#bars"></use>
</svg>
    <span class="toggle-expand__text">Main Menu</span>
  </span>
  <span class="toggle-expand__close">
    <span class="toggle-expand__text">Close</span>
  </span>
</a>
<nav id="main-nav" class="main-nav">
  
    
                          
        
<ul class="main-menu">
                        

<li class="main-menu__item main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub"
    href="../../patterns/05-pages-home-home/05-pages-home-home.html"
>
      Home
  </a>
          <span class="expand-sub"></span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Home Sub-Page
  </a>
      </li>
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub"
    href="#"
>
      Home Sub-Page 2
  </a>
          <span class="expand-sub"></span>
          
                          
        
<ul class="main-menu main-menu--sub main-menu--sub-1 main-menu--sub main-menu--sub-2">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-2">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-2"
    href="#"
>
      Home Sub-Sub-Page
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1 main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-2">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1 main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-2"
    href="#"
>
      Home Sub-Sub-Page 2
  </a>
      </li>
              </ul>
  
      </li>
              </ul>
  
      </li>
                      

<li class="main-menu__item main-menu__item--with-sub">
      
<a
  class="main-menu__link main-menu__link--with-sub"
    href="../../patterns/05-pages-article-article/05-pages-article-article.html"
>
      Article
  </a>
          <span class="expand-sub"></span>
          
                                    
        
<ul class="main-menu main-menu--sub main-menu--sub-1">
                      

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Article Sub 1
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Article Sub 2
  </a>
      </li>
                    

<li class="main-menu__item main-menu__item--with-sub main-menu__item--sub main-menu__item--sub-1">
      
<a
  class="main-menu__link main-menu__link--with-sub main-menu__link--sub main-menu__link--sub-1"
    href="#"
>
      Article Sub 3
  </a>
      </li>
              </ul>
  
      </li>
              </ul>
  

</nav>
  </header>
  
    
  <main role="main" class="main main--with-sidebar">
    <a id="main-content" tabindex="-1"></a>
          <aside class="main-sidebar" role="complementary">
            
<h2 class="h2 h2--margin">
      Sidebar Content
  </h2>
    
<p class="paragraph">
      This is sidebar content ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
  </p>
        </aside>
    
    <div class="main-content main-content--with-sidebar">
          
<h1 class="h1 h1--margin">
      This is a Real Article
  </h1>

    
<p class="paragraph">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
      </div>

  </main>

      <footer class="footer">
      
    
                          
        
<ul class="inline-menu">
                      

<li class="inline-menu__item">
      
<a
  class="inline-menu__link"
    href="../../patterns/05-pages-home-home/05-pages-home-home.html"
>
      Home
  </a>
      </li>
                    

<li class="inline-menu__item">
      
<a
  class="inline-menu__link"
    href="../../patterns/05-pages-article-article/05-pages-article-article.html"
>
      Article
  </a>
      </li>
              </ul>
  

  </footer>
  </div>
