<div class="form-item">
  <label for="select" class="form-item__label form-item__label--textfield">Age</label>
  <div class="form-item__dropdown">
    <select class="form-item__select">
      <optgroup label="Whatever">
                  <option>Thunder, thunder, thundercats, Ho!</option>
                  <option>Danish danish candy canes bonbon cheesecake danish marzipan</option>
                  <option>Bacon ipsum dolor sit amet turducken strip steak beef ribs shank</option>
                  <option>Whatever swag accusamus occupy, gentrify butcher tote bag</option>
                  <option>Yeah, I like animals better than people sometimes</option>
                  <option>Cottage cheese brie lancashire. Boursin when the cheese comes out.</option>
              </optgroup>
    </select>
  </div>
</div>
