{# Main #}
{% block main %}
  <div class="page-header" style="background-color: #f7f7f9; margin-top: -15px;">
    <div class="container">
      <h1>UI Patterns<br>
        <small>
          Click <a href="{{ url('ui_patterns.patterns.overview') }}">here</a> to visit the Patterns Overview page.
        </small>
      </h1>
    </div>
  </div>

  <div role="main" class="main-container container">
    <div class="row">
      {# Content #}
      <section{{ content_attributes.addClass('col-sm-12') }}>

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.highlighted }}
          {{ page.content }}
        {% endblock %}
      </section>
    </div>
  </div>
{% endblock %}
