<ul class="nav" role="tablist">
                <li role="presentation" class="col-sm-3 active">
                  		<a href="#177 " aria-controls="177" data-toggle="tab">
                  		    	<div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img class="img-responsive" src="https://future.sfsu.edu/sites/default/files/dining-student-center.jpg" width="320" height="200" alt=""></div></div></div>
                  		    	<img class="nav-card-chevron active" src="https://future.sfsu.edu/sites/all/themes/sfstate_template/images/chevron-middle.png" alt="">
								<img class="nav-card-chevron inactive" src="https://future.sfsu.edu/sites/all/themes/sfstate_template/images/nonchevron.png" alt="">
        					<div class="img-overlay text-center">
        						<div class="nav-card-title">
           							<h2><div class="field field-name-field-title field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Student Center</div></div></div></h2>
           						</div>
       						</div>
                  		</a>
                  	</li><li role="presentation" class="col-sm-3">
                  		<a href="#178 " aria-controls="178" data-toggle="tab">
                  		    	<div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img class="img-responsive" src="https://future.sfsu.edu/sites/default/files/dining-housing-area.jpg" width="320" height="200" alt=""></div></div></div>
                  		    	<img class="nav-card-chevron active" src="https://future.sfsu.edu/sites/all/themes/sfstate_template/images/chevron-middle.png" alt="">
								<img class="nav-card-chevron inactive" src="https://future.sfsu.edu/sites/all/themes/sfstate_template/images/nonchevron.png" alt="">
        					<div class="img-overlay text-center">
        						<div class="nav-card-title">
           							<h2><div class="field field-name-field-title field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Housing Area</div></div></div></h2>
           						</div>
       						</div>
                  		</a>
                  	</li><li role="presentation" class="col-sm-3">
                  		<a href="#179 " aria-controls="179" data-toggle="tab">
                  		    	<div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img class="img-responsive" src="https://future.sfsu.edu/sites/default/files/dining-foodtrucks.jpg" width="320" height="200" alt=""></div></div></div>
                  		    	<img class="nav-card-chevron active" src="https://future.sfsu.edu/sites/all/themes/sfstate_template/images/chevron-middle.png" alt="">
								<img class="nav-card-chevron inactive" src="https://future.sfsu.edu/sites/all/themes/sfstate_template/images/nonchevron.png" alt="">
        					<div class="img-overlay text-center">
        						<div class="nav-card-title">
           							<h2><div class="field field-name-field-title field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Food Trucks</div></div></div></h2>
           						</div>
       						</div>
                  		</a>
                  	</li><li role="presentation" class="col-sm-3">
                  		<a href="#180 " aria-controls="180" data-toggle="tab">
                  		    	<div class="field field-name-field-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img class="img-responsive" src="https://future.sfsu.edu/sites/default/files/dining-more.jpg" width="320" height="200" alt=""></div></div></div>
                  		    	<img class="nav-card-chevron active" src="https://future.sfsu.edu/sites/all/themes/sfstate_template/images/chevron-middle.png" alt="">
								<img class="nav-card-chevron inactive" src="https://future.sfsu.edu/sites/all/themes/sfstate_template/images/nonchevron.png" alt="">
        					<div class="img-overlay text-center">
        						<div class="nav-card-title">
           							<h2><div class="field field-name-field-title field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">More</div></div></div></h2>
           						</div>
       						</div>
                  		</a>
                  	</li></ul>
