<div class="sg-type">
 <h2>Lato</h2>
      <div class="sg-type__sample" style=" font-weight: 300">
        Lato Light
      </div>
      <div class="sg-info">
        <code>font-weight: 300</code>
      </div>
          <div class="sg-type__sample" style="font-weight: 400">
        Lato Regular
      </div>
      <div class="sg-info">
        <code>font-weight: 400</code>
      </div>
          <div class="sg-type__sample" style="font-weight: 500">
        Lato Medium
      </div>
      <div class="sg-info">
        <code>font-weight: 500</code>
      </div>
          <div class="sg-type__sample" style="font-weight: 600">
        Lato Semibold
      </div>
      <div class="sg-info">
        <code>font-weight: 600</code>
      </div>
          <div class="sg-type__sample" style="font-weight: 700">
        Lato Bold
      </div>
      <div class="sg-info">
        <code>font-weight: 700</code>
      </div>
       <br>

      <h2 class="font-secondary">Bebas Neue</h2>
      <div class="sg-type__sample font-secondary" style="font-weight: 300">
        Bebas Neue Light
      </div>
      <div class="sg-info">
        <code>font-weight: 300</code>
      </div>
          <div class="sg-type__sample font-secondary" style="font-weight: 400">
        Bebas Neue Regular
      </div>
      <div class="sg-info">
        <code>font-weight: 400</code>
      </div>
          <div class="sg-type__sample font-secondary" style="font-weight: 500">
        Bebas Neue Medium
      </div>
      <div class="sg-info">
        <code>font-weight: 500</code>
      </div>
          <div class="sg-type__sample font-secondary" style="font-weight: 600">
        Bebas Neue Semibold
      </div>
      <div class="sg-info">
        <code>font-weight: 600</code>
      </div>
          <div class="sg-type__sample font-secondary" style="font-weight: 700">
        Bebas Neue Bold
      </div>
      <div class="sg-info">
        <code>font-weight: 700</code>
      </div>
       <br>

      <h2 class="font-secondary-opensans">OpenSans</h2>
      <div class="sg-type__sample font-secondary-opensans" style="font-weight: 300">
        OpenSans Light
      </div>
      <div class="sg-info">
        <code>font-weight: 300</code>
      </div>
          <div class="sg-type__sample font-secondary-opensans" style=" font-weight: 400">
        OpenSans Regular
      </div>
      <div class="sg-info">
        <code>font-weight: 400</code>
      </div>
          <div class="sg-type__sample font-secondary-opensans" style="font-weight: 500">
        OpenSans Medium
      </div>
      <div class="sg-info">
        <code>font-weight: 500</code>
      </div>
          <div class="sg-type__sample font-secondary-opensans" style=" font-weight: 600">
        OpenSans Semibold
      </div>
      <div class="sg-info">
        <code>font-weight: 600</code>
      </div>
          <div class="sg-type__sample font-secondary-opensans" style="font-weight: 700">
        OpenSans Bold
      </div>
      <div class="sg-info">
        <code>font-weight: 700</code>
      </div>
      </div>
