<div class="form-item form-item--checkbox">
  <legend class="heading-3">Options as Checkboxes</legend>
  <ul class="form-item--checkboxes">
              <li class="form-item--checkbox__item">
  <label for="checkbox0">
    <input id="checkbox0" name="checkbox" type="checkbox" checked="checked"> Nullizzle shizznit velizzle, hizzle, suscipit own yo&#039;, gravida vizzle, arcu.
  </label>
</li>
              <li class="form-item--checkbox__item">
  <label for="checkbox1">
    <input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Webtwo ipsum dolor sit amet, eskobo chumby doostang bebo
  </label>
</li>
              <li class="form-item--checkbox__item">
  <label for="checkbox2">
    <input id="checkbox2" name="checkbox" type="checkbox" checked="checked"> Veggies sunt bona vobis, proinde vos postulo
  </label>
</li>
              <li class="form-item--checkbox__item">
  <label for="checkbox3">
    <input id="checkbox3" name="checkbox" type="checkbox" checked="checked"> Yeah, I like animals better than people sometimes
  </label>
</li>
        </ul>
</div>
