{{ kint() }}

{#
<ul class="list-group">
    {% for ul_item in ul_items %}
        {% include "@atoms/03-lists/_listitem.twig" with {
            item_content: ul_item.ul_content


        } %}
    {% endfor %}
</ul>#}
