
<dl>
  {% for dl_item in dl_items %}
    {% include "@atoms/03-lists/_list-item-definition.twig" with {
      "dl_term": dl_item.dl_term,
      "dl_def": dl_item.dl_def,
    } %}
  {% endfor %}
</dl>
